examples/dflowfm/10_dflowfm_sequential_drtc_dwaves/rtc/xsd_dir/rtcObjectiveConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Dirk Schwanenberg (Deltares) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:rtc="http://www.wldelft.nl/fews" targetNamespace="http://www.wldelft.nl/fews" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<include schemaLocation="rtcSharedTypes.xsd"/>
	<element name="rtcObjectiveConfig" type="rtc:RtcObjectiveConfigComplexType"/>
	<complexType name="RtcObjectiveConfigComplexType">
		<sequence>
			<element name="variables" type="rtc:VariablesComplexType" minOccurs="0"/>
			<element name="constraints" type="rtc:ConstraintsComplexType" minOccurs="0"/>
			<element name="terms" type="rtc:TermComplexType" minOccurs="0"/>
			<element name="output" type="rtc:OutputComplexType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="VariablesComplexType">
		<sequence>
			<element name="variable" type="rtc:VariableComplexType" maxOccurs="unbounded"/>
			<element name="aggregation" type="rtc:AggregationComplexType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="VariableComplexType">
		<sequence>
			<element name="aggregation" type="rtc:AggregationComplexType" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="rtc:TimeSeriesSimpleType" use="required"/>
		<attribute name="type" type="rtc:VariableTypeEnumStringType" use="required"/>
		<attribute name="active" type="rtc:ExternalBooleanSimpleType" default="true"/>
		<attribute name="min" type="rtc:ExternalParameterSimpleType"/>
		<attribute name="max" type="rtc:ExternalParameterSimpleType"/>
		<attribute name="scalingFactor" type="double" default="1.0"/>
		<attribute name="ensembleMode" type="rtc:EnsembleModeEnumStringType" use="optional" default="JOINT"/>
	</complexType>
	<complexType name="AggregationComplexType">
		<choice>
			<element name="constant" type="anySimpleType"/>
			<element name="equidistant" type="rtc:AggregationEquidistantComplexType">
				<annotation>
					<documentation>aggregation with equidistent steps, note that the number of time steps in the model needs to be a multiple of the aggregation step, i.e. 2,4,6,8 steps in case of an aggregation step of 2</documentation>
				</annotation>
			</element>
			<element name="non-equidistant" type="rtc:AggregationNonEquidistantComplexType">
				<annotation>
					<documentation>still not implemented</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="AggregationEquidistantComplexType">
		<sequence>
			<element name="type" type="rtc:AggregationTypeEnumStringType">
				<annotation>
					<documentation>interpolation type: block or linear</documentation>
				</annotation>
			</element>
			<element name="nAggregationSteps" type="integer">
				<annotation>
					<documentation>aggregation, simulation time nOutputSteps (simulation) = nInputSteps (optimizer) * nAggregationSteps</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AggregationNonEquidistantComplexType">
		<sequence>
			<element name="type" type="rtc:AggregationTypeEnumStringType">
				<annotation>
					<documentation>interpolation type: block or linear</documentation>
				</annotation>
			</element>
			<element name="nInputSteps" type="integer">
				<annotation>
					<documentation>number of input time steps</documentation>
				</annotation>
			</element>
			<element name="nOutputSteps" type="integer">
				<annotation>
					<documentation>number of output time steps</documentation>
				</annotation>
			</element>
			<element name="stepIndex" type="integer" maxOccurs="unbounded">
				<annotation>
					<documentation>time step indices (indexing starts from 1) on which input data is located, the has to be data on the last time step!</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ConstraintsComplexType">
		<sequence>
			<element name="constraint" type="rtc:ConstraintChoiceComplexType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ConstraintChoiceComplexType">
		<choice>
			<element name="boundVariable" type="rtc:BoundVariableComplexType"/>
			<element name="boundVariableRateOfChange" type="rtc:BoundVariableRateOfChangeComplexType"/>
			<element name="boundState" type="rtc:BoundStateComplexType"/>
		</choice>
		<attribute name="active" type="rtc:ExternalBooleanSimpleType" default="true"/>
	</complexType>
	<complexType name="BoundVariableComplexType">
		<sequence>
			<element name="variable" type="rtc:TimeSeriesSimpleType"/>
			<choice minOccurs="0">
				<element name="upperBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="upperBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<choice minOccurs="0">
				<element name="lowerBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="lowerBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="BoundVariableRateOfChangeComplexType">
		<sequence>
			<element name="variable" type="rtc:TimeSeriesSimpleType"/>
			<element name="multipleDelay" type="rtc:BoundVariableRateOfChangeMultipleDelayComplexType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="upperBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="upperBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<choice minOccurs="0">
				<element name="lowerBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="lowerBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="BoundVariableRateOfChangeMultipleDelayComplexType">
		<sequence>
			<element name="variableDelayVector" type="rtc:TimeSeriesSimpleType"/>
			<element name="nStep" type="integer"/>
		</sequence>
	</complexType>
	<complexType name="BoundStateComplexType">
		<sequence>
			<element name="components" type="rtc:BoundStateComponentsComplexType"/>
			<choice>
				<element name="nStep" type="integer"/>
				<element name="stepIndices" type="rtc:BoundStateStepIndicesComplexType"/>
			</choice>
			<element name="variables" type="rtc:BoundStateVariablesComplexType"/>
			<element name="state" type="rtc:TimeSeriesSimpleType"/>
			<choice minOccurs="0">
				<element name="upperBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="upperBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<choice minOccurs="0">
				<element name="lowerBound" type="rtc:ExternalParameterSimpleType"/>
				<element name="lowerBoundSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="BoundStateStepIndicesComplexType">
		<sequence>
			<element name="stepIndex" maxOccurs="unbounded">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BoundStateComponentsComplexType">
		<sequence>
			<element name="component" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="BoundStateVariablesComplexType">
		<sequence>
			<element name="variable" type="rtc:TimeSeriesSimpleType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="TermComplexType">
		<sequence>
			<element name="term" type="rtc:TermChoiceComplexType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="TermChoiceComplexType">
		<choice>
			<element name="absolute" type="rtc:TermAbsoluteComplexType"/>
			<element name="linear" type="rtc:TermLinearComplexType"/>
			<element name="rateOfChange" type="rtc:TermRateOfChangeComplexType"/>
			<element name="max" type="rtc:TermMaxComplexType"/>
			<element name="mse" type="rtc:TermMSEComplexType"/>
			<element name="nse" type="rtc:TermNSEComplexType"/>
			<element name="relativeVolume" type="rtc:TermRelativeVolumeComplexType"/>
			<element name="rmse" type="rtc:TermRMSEComplexType"/>
			<element name="rv" type="rtc:TermRVComplexType"/>
			<element name="sum" type="rtc:TermSumComplexType"/>
		</choice>
		<attribute name="active" type="rtc:ExternalBooleanSimpleType" default="true"/>
	</complexType>
	<complexType name="TermAbsoluteComplexType">
		<sequence>
			<element name="weightingFactorSeries" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="weightingFactor" type="rtc:ExternalParameterSimpleType" default="1.0" minOccurs="0" maxOccurs="unbounded"/>
			<element name="weightingFactorFinal" type="rtc:ExternalParameterSimpleType" default="1.0" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>optional final weighting factor, only considered if a weighting factor is defined, works NOT in combination with the weighting factor time series</documentation>
				</annotation>
			</element>
			<element name="order" type="double" default="2.0"/>
			<choice>
				<element name="setPoint" type="rtc:ExternalParameterSimpleType"/>
				<element name="setPointSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<element name="upperBranch" type="boolean" default="true" minOccurs="0"/>
			<element name="lowerBranch" type="boolean" default="true" minOccurs="0"/>
			<element name="input" type="rtc:TimeSeriesSimpleType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermLinearComplexType">
		<sequence>
			<element name="weightingFactorSeries" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="weightingFactor" type="rtc:ExternalParameterSimpleType" default="1.0" minOccurs="0" maxOccurs="unbounded"/>
			<element name="weightingFactorFinal" type="rtc:ExternalParameterSimpleType" default="1.0" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>optional final weighting factor, only considered if a weighting factor is defined, works NOT in combination with the weighting factor time series</documentation>
				</annotation>
			</element>
			<choice>
				<element name="setPoint" type="rtc:ExternalParameterSimpleType"/>
				<element name="setPointSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<element name="input" type="rtc:TimeSeriesSimpleType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermRateOfChangeComplexType">
		<sequence>
			<element name="weightingFactorSeries" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="weightingFactor" type="rtc:ExternalParameterSimpleType" default="1.0" minOccurs="0" maxOccurs="unbounded"/>
			<element name="order" type="double" default="2.0"/>
			<choice>
				<element name="setPoint" type="double"/>
				<element name="setPointSeries" type="rtc:TimeSeriesSimpleType"/>
			</choice>
			<element name="nStep" type="integer" default="1" minOccurs="0"/>
			<element name="upperBranch" type="boolean" default="true" minOccurs="0"/>
			<element name="lowerBranch" type="boolean" default="true" minOccurs="0"/>
			<element name="input" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermMaxComplexType">
		<sequence>
			<element name="input" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermMSEComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="observation" type="rtc:TimeSeriesSimpleType"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermRMSEComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="observation" type="rtc:TimeSeriesSimpleType"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermNSEComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="observation" type="rtc:TimeSeriesSimpleType"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermRelativeVolumeComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="observation" type="rtc:TimeSeriesSimpleType"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermRVComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="w" type="double"/>
			<element name="observation" type="rtc:TimeSeriesSimpleType"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="TermSumComplexType">
		<sequence>
			<element name="flag" type="rtc:TimeSeriesSimpleType" minOccurs="0"/>
			<element name="simulation" type="rtc:TimeSeriesSimpleType"/>
		</sequence>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	<complexType name="OutputComplexType">
		<sequence>
			<element name="JInc" type="rtc:TimeSeriesSimpleType">
				<annotation>
					<documentation>time series reference for incremental objective function value</documentation>
				</annotation>
			</element>
			<element name="JAcc" type="rtc:TimeSeriesSimpleType">
				<annotation>
					<documentation>time series reference for accumulating objective function value</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
